body {
  margin: auto;
  background-color: #000;
  font-family: sans-serif;
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
}

article.contentwrapper {
  width: 65%;
  margin: auto;
}

h2.nametitle {
  font-size: 2em;
  color: #fff;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p.title1 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
  color: #cccccc;
}

section.homemain {
  border: 1px solid #85827d;
  height: auto;
  margin:0;
  background-color: #f9f9f9;
}

p.slogan {
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
  margin: 0;
  font-weight: 500;
  color: #000;
  padding: .25em;
}

.underline {
  text-decoration: underline;
}

section.slogan {
  background-image: url("../images/doors_img.png");
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
}
section.projectsslogan {
  background-image: url("../images/projectsbck.png");
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
}
section.contactslogan {
  background-image: url("../images/contactbck.png");
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
}

section.slogan > section {
  position: absolute;
  bottom: 1em;
  left: 0;
}
section.projectsslogan > section {
  position: absolute;
  bottom: 1em;
  left: 0;
}

section.maincontent {
  padding: 1em 1em 0 1em;
}

h3 {
  color: #ba4c3f;
  font-size: 2em;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

hr.one {
  width: 30%;
  align-self: center;
  border-top: .5px solid #85827d;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em 0;
  }

hr.two {
  width: 50%;
  align-self: center;
  border-top: .5px solid #85827d;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em 0;
  }

nav.mainnav {
  float: right;
}

nav.mainnav li {
  display: inline;
  text-decoration: none;
  float: right;
  width: 100px;
}

nav.mainnav li a{
  text-decoration: none;
  color: #fff;
  padding: .5em;
  font-size: 1em;
  background-color: #64635f;
  border: 1px solid #1b1b1b;
  }

nav.mainnav li a:hover{
  text-decoration: none;
  color: #000;
  font-size: 1em;
  padding: .5em;
  background-color: #64635f;
  border: 1px solid #1b1b1b;
}

.sectioncontainer {
  display: flex;
}

.sectionprojects {
  display: flex;
  
}

.sectionprojects img {
  border: solid 1px #cfcdcd;
  width:20%;
 }
.testimonial {
  font-style: italic;
}

.leftsection {
  clear: both;
  width: 49%; 
  padding: 1em;
  background-color: #f9f9f9; 
  border: 1px solid #cccccc;
  margin: .50em
}

.leftsection > img {
  width: 100%;
  border: solid 1px #cfcdcd;
}

.rightsection {
  width: 49%; 
  background-color: #f9f9f9;
  margin: .50em;
  border: 1px solid #cccccc;
  padding: 1em;
}


.rightsection > img {
  width: 100%;
  border: solid 1px #cfcdcd;
}

article.rightsection li {
  color: #000;
  font-family: 'Oxygen', sans-serif;
}

article h4 {
  color: #000;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

article p {
  color:#000;
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
}

h5 {
  color: #656565;
  font-size: 1.3em;
  font-family: 'Barlow Condensed', sans-serif;
  margin: .25em;
}

h5.projects {
  color: #656565;
  font-size: 1.3em;
  font-family: 'Barlow Condensed', sans-serif;
  margin:0;
  padding: 0;
}

.circle { 
  background-color: #989898; 
  width: 50px; 
  height: 50px; 
  border-radius: 25px; 
  border: 1px solid #696969; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  align-items: center;
  padding-bottom: .25em
}

.whatido {
  background-color: #6d6d6d;
  clear: both;
  color: #fff;
  margin:0;
  padding: 1em;
}

.whatido h3 {
  color: #fff;
  font-size: 2em;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

.whatsection {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}
.whatunit {
  display: flex;
  width: 33.33%;
}

.whaticon {
  padding: .40em;
}

.whatunittext {
  display: block;
}

.whatunittext h5 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  display: block;
  float: left;
  margin: .05em;
}

.whatunittext p {
  color:#fff;
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  float: left;
  padding: .25em;
  margin: 0;
}

hr.three {
  width: 30%;
  align-self: center;
  border-top: .5px solid #d1d1d1;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em 0;
  }

hr.four {
  width: 50%;
  align-self: center;
  border-top: .5px solid #d1d1d1;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25em 0;
  }

.articleunit {
  background-color: #f9f9f9;
  border: 1px solid #1b1b1b;
}
.helpimage img {
  width: 200px;
  height:150px;
  border: solid 1px #cfcdcd;
}

.helpunittext {
  clear: both;
  display: block;
}

.helpunittext h5 {
  color: #656565;
  font-size: 1.3em;
  font-family: 'Barlow Condensed', sans-serif;
  margin: .25em;
}

.helpunittext p {
  color:#000;
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  padding: .25em;
  margin: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  display: flex;
  padding: 1em;
  margin: auto;
  font-family: 'Slabo 27px', serif;
  font-size: 1em;
  color: #000;
  width: 100%;
}
footer section {
  width: 50%;
}
.backtotop {
 text-align: right;
  padding-right: 2em;
}
.backtotop a {
 text-decoration: none;
}
.backtotop a:hover {
 text-decoration: none;
}

.socialmedia {
  display: flex;
  color: #000;
}

.socialmedia i {
  padding-right: .5em;
}

form textarea {
font-family: 'Oxygen', sans-serif;
}
form input {
font-family: 'Oxygen', sans-serif;
}
form button {
  text-decoration: none;
  color: #fff;
  padding: .5em;
  font-size: 1em;
  background-color: #64635f;
  border: 1px solid #1b1b1b;
  
}